<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chinamyheart.community.mapper.UserMapper" >

  <sql id="userColumns">
	  id,
	  username,
	  nickname,
	  password,
	  role,
	  email,
	  createTime,
	  dstatus
  </sql>
  
  <select id="selectByUsername" resultType="User" parameterType="java.lang.String">
    select <include refid="userColumns" />
    from c_user
	where username = #{username,jdbcType=VARCHAR};
  </select>

	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into c_user (
		username,
		nickname,
		password,
		role,
		email,
		mobile,
		createTime,
		dstatus
		) values (
		#{username},
		#{nickname},
		#{password},
		#{role},
		#{email},
		#{mobile},
		#{createTime},
		#{dstatus}
		)
	</insert>

	<update id="update" parameterType="User">
		update c_user set
		username = #{username},
		nickname = #{nickname},
		password = #{password},
		role = #{role},
		email = #{email},
		mobile = #{mobile},
		dstatus = #{dstatus}
		where id = #{id}
	</update>
	<select id="getUserList" resultType="User" parameterType="User">
		select <include refid="userColumns" />
		from c_user
		where 1=1
		<if test="username != null">
			and username = #{username}
		</if>
		<if test="password != null">
			and password = #{password}
		</if>
		<if test="role != null">
			and role = #{role}
		</if>
	</select>

	<select id="getUserByUsername" resultType="User" parameterType="User">
		select <include refid="userColumns" />
		from c_user
		where username = #{username}
	</select>

</mapper>