.nickname{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.verified{
    display: inline;
    border: 1px solid #3c763d;
    padding: 1px 2px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}


.radius{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:8px;
    padding: 6px 8px;
}
.left:before{
    position:absolute;
    content:"\00a0";
    width:0px;
    height:0px;
    border-width:8px 18px 8px 0;
    border-style:solid;
    border-color:transparent #f0f7fe transparent transparent;
    top:8px;
    left:-2px;
}
.right:before{
    position:absolute;
    content:"\00a0";
    display:inline-block;
    width:0px;
    height:0px;
    border-width:8px 0px 8px 18px;
    border-style:solid;
    border-color:transparent transparent transparent #f0f7fe;
    right: -17px;
    top:8px;
}
.row-right .radius{
    margin-right: -15px;
    background-color: #ffffff;
    border: 1px solid #f0f7fe;
}

.row-left .radius{
    background-color: #f5f9ff;
    border: 1px solid #f0f7fe;
}
#conversation-detail:focus{
    outline: none;
}
#conversation-detail{
    resize: none;
    height: 50px;
}

@media screen and (min-width: 1201px) {
    .abc {width: 1200px}
}
@media screen and (max-height: 704px){
    .conversation{
        /*style="min-height: 100px;max-height: 320px;overflow-y: scroll;"*/
        min-height: 240px;
        max-height: 265px;
        overflow-y: scroll;
    }
}