<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chinamyheart.community.mapper.DoctorMapper" >

  <sql id="doctorColumns">
	  id,
	  userId,
	  hospital,
	  realName,
	  detials,
	  status,
	  createTime
  </sql>
  
  <select id="selectById" resultType="Doctor" parameterType="java.lang.Integer">
    select <include refid="doctorColumns" />
    from c_doctor
	where id = #{id}
  </select>

	<select id="selectByUserId" resultType="Doctor" parameterType="java.lang.Integer">
		select <include refid="doctorColumns" />
		from c_doctor
		where userId = #{id}
	</select>

	<select id="selectAll" resultType="Doctor">
		select <include refid="doctorColumns" />
		from c_doctor
		where 1=1
	</select>

	<select id="selectAllPend" resultType="Doctor" parameterType="java.lang.Integer">
		select <include refid="doctorColumns" />
		from c_doctor
		where status = #{status}
	</select>

	<insert id="insert" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id">
		insert into c_doctor (
		userId,
		hospital,
		realName,
		detials,
		status,
		createTime
		) values (
		#{userId},
		#{hospital},
		#{realName},
		#{detials},
		#{status},
		#{createTime}
		)
	</insert>

	<update id="updateById" parameterType="Doctor">
		update c_doctor set
		<if test="userId != null">
			userId = #{userId},
		</if>
		<if test="hospital != null">
			hospital = #{hospital},
		</if>
		<if test="realName != null">
			realName = #{realName},
		</if>
		<if test="detials != null">
			detials = #{detials},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="createTime != null">
			createTime = #{createTime}
		</if>
		where id = #{id}
	</update>


	<update id="updateByUserId" parameterType="Doctor">
		update c_doctor set
		<if test="userId != null">
			and userId = #{userId}
		</if>
		<if test="hospital != null">
			and hospital = #{hospital}
		</if>
		<if test="realName != null">
			and realName = #{realName}
		</if>
		<if test="detials != null">
			and detials = #{detials}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="createTime != null">
			and createTime = #{createTime}
		</if>
		where userId = #{id}
	</update>


</mapper>